In [ ]:
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import sklearn as sk

import matplotlib as mpl
mpl.use('Agg')
import matplotlib.pyplot as plt
# import matplotlib.pylab as plt
from mpl_toolkits.mplot3d import Axes3D

import seaborn as sns
sns.set()
sns.set_style("whitegrid")
sns.set_color_codes()

In [1]:
%matplotlib inline

#### Importing Data

- Train data

In [11]:
train_2016 = pd.read_csv('data/train_2016_v2.csv', parse_dates=["transactiondate"])
train_2016.tail()

       parcelid  logerror transactiondate
90270  10774160   -0.0356      2016-12-30
90271  12046695    0.0070      2016-12-30
90272  12995401   -0.2679      2016-12-30
90273  11402105    0.0602      2016-12-30
90274  12566293    0.4207      2016-12-30

In [13]:
train_2017 = pd.read_csv('data/train_2017.csv', parse_dates=["transactiondate"])
train_2017.tail()

       parcelid  logerror transactiondate
77608  10833991 -0.002245      2017-09-20
77609  11000655  0.020615      2017-09-20
77610  17239384  0.013209      2017-09-21
77611  12773139  0.037129      2017-09-21
77612  12826780  0.007204      2017-09-25

In [14]:
print("Shape Of Train_2016: ",train_2016.shape)
print("Shape Of Train_2017: ",train_2017.shape)

Shape Of Train_2016:  (90275, 3)
Shape Of Train_2017:  (77613, 3)

- Properties Data

In [15]:
properties_2016 = pd.read_csv('data/properties_2016.csv')
properties_2016.tail()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
2985212,168176230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,14273630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,168040630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,168040830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,168040430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
properties_2017 = pd.read_csv('data/properties_2017.csv')
properties_2017.tail()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
2985212,12170430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,11422430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,17203030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,14242830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,12766630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
print("Shape Of Properties_2016: ",properties_2016.shape)
print("Shape Of Properties_2017: ",properties_2017.shape)

Shape Of Properties_2016:  (2985217, 58)
Shape Of Properties_2017:  (2985217, 58)

In [26]:
properties_2017.columns[49]

'fireplaceflag'

In [27]:
fireplaceflag = properties_2017["fireplaceflag"]
fireplaceflag

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
          ...
2985187    NaN
2985188    NaN
2985189    NaN
2985190    NaN
2985191    NaN
2985192    NaN
2985193    NaN
2985194    NaN
2985195    NaN
2985196    NaN
2985197    NaN
2985198    NaN
2985199    NaN
2985200    NaN
2985201    NaN
2985202    NaN
2985203    NaN
2985204    NaN
2985205    NaN
2985206    NaN
2985207    NaN
2985208    NaN
2985209    NaN
2985210    NaN
2985211    NaN
2985212    NaN
2985213    NaN
2985214    NaN
2985215    NaN
2985216    NaN
Name: fireplaceflag, Length: 2985217, dtype: object

In [ ]:
merged_2016 = pd.merge(train_2016, properties_2016, on="parcelid", how="left")